<div class="boletos-cine-container">
    <h2>Cinepolis</h2>
    <form [formGroup]="boletosForm" (ngSubmit)="obtenerTotal()">
      <div class="form-group">
        <label for="nombreComprador">Nombre del Comprador:</label>
        <input formControlName="nombreComprador" type="text" id="nombreComprador" />
        <div *ngIf="boletosForm.get('nombreComprador')?.invalid && boletosForm.get('nombreComprador')?.touched">
          <small class="error">Este campo es obligatorio.</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="numPersonas">Número de Personas:</label>
        <input formControlName="numPersonas" type="number" id="numPersonas" min="1" />
        <div *ngIf="boletosForm.get('numPersonas')?.invalid && boletosForm.get('numPersonas')?.touched">
          <small class="error">El número de personas debe ser al menos 1.</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="numEntradas">Número de Entradas:</label>
        <input formControlName="numEntradas" type="number" id="numEntradas" min="1" />
        <small class="help-text">El máximo de boletos es 7 por persona.</small>
        <div *ngIf="boletosForm.get('numEntradas')?.invalid && boletosForm.get('numEntradas')?.touched">
          <small class="error">El número de entradas debe ser válido.</small>
        </div>
      </div>
  
      <div class="form-group">
        <label for="tarjetaSocioCineco">¿Tienes Tarjeta Cineco?</label>
        <input formControlName="tarjetaSocioCineco" type="checkbox" id="tarjetaSocioCineco" />
      </div>
  
      <button type="submit" [disabled]="boletosForm.invalid">Calcular</button>
    </form>
  
    <div *ngIf="montoTotal !== null">
      <p>Total a pagar: {{ montoTotal | currency:'USD':true }}</p>
    </div>
  </div>
  