
<div class="contraines">
  <div class="row">
    <h1>Hola mundo</h1>

      <p>paseo de perros</p>

      <div>
        {{title}}
      </div>

      <div>La suma de 2 + 2 es {{2+2}}</div>

      <div>el doble de 3 es  {{duplicarNumero(3)}}</div>

      <h2>Datos de la pelicula</h2>

      <div>El nombre de la pelicula es: {{pelicula.nombre}}</div>
      <div>El nombre de la pelicula es: {{pelicula.fechaLanzamiento|date}}</div>
      <div>El nombre de la pelicula es: {{pelicula.precio|currency}}</div>

  </div>
</div>